<footer role="contentinfo">
  <a href="{{ path('<front>') }}">
    <img class="logo" src="{{ url('<front>') }}{{ directory }}/images/logo.svg" alt="AR Design" aria-label="A.R. Design" />
  </a>
  <span>Designed and programmed by AR Design.</span>
  <div>
    <span>Copyright &copy; 2017 AR Design.</span><span>View the <a href="{{ url('<front>') }}privacy-policy">privacy policy</a>.</span>
  </div>
</footer>
